.grid {
  display: grid;
  grid-template-columns: 45rem repeat(4, 1fr);
  place-items: center;
}

.titlesGrid {
  composes: grid;
  grid-template-rows: 7rem;
  background-color: #a6a6a7;
  border-radius: 4px 4px 0 0;
}

.gridTitle {
  color: #01172c;
}

.gridRow {
  composes: grid;
  grid-template-rows: 16rem;
}

.gridRow:nth-of-type(2n) {
  background-color: #ffffff;
}

.gridRow:nth-of-type(2n + 1) {
  background-color: #e9e9e9;
}

.beerItem {
  justify-self: start;
  display: flex;
  align-items: center;
}

.beerImg {
  width: 12.1rem;
  margin-right: 2rem;
}

.beerName {
  color: #565657;
}

.beerText {
  color: #656566;
}
