* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.title,
.subtitle,
.section,
.item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.title {
  font-size: 4rem;
  line-height: 6.4rem;
}

.subtitle {
  font-size: 3.2rem;
  line-height: 5.12rem;
}

.section {
  font-size: 2.4rem;
  line-height: 3.84rem;
}

.item {
  font-size: 2rem;
  line-height: 3.2rem;
}

.t-normal {
  font-size: 1.6rem;
  line-height: 2.56rem;
}

.t-small {
  font-size: 1.4rem;
  line-height: 2.24rem;
}

.t-regular {
  font-weight: 400;
}

.t-medium {
  font-weight: 500;
}

.t-semibold {
  font-weight: 600;
}
